.search{
    background: hsla(0, 0%, 96%, 0.85);
    outline: none;
    padding: 15px 50px;
    border-radius: 20px;
    border: none;
    margin-bottom: 13%;
    width:330px ;
}

.btnSearch{
    background: hsla(0,0%,98%,.85);
    outline: none;
    padding: 20px 7%;
    border-radius: 20px;
    border: none;
    margin-bottom: 5%;
}
